@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    /* overflow-x: hidden; */
    font-family: "Montserrat", sans-serif;
  }
  body {
    background-color: black;
    width: 100vw;
    /* height: 100vh; */
    /* overflow: hidden; */
    overflow-x: hidden;
  }
  
  /* Hero section */
  .toogle{
    position: absolute;
    top: 50px;
    right: 30px;
    font-size: 20px;
    display: none;
  }
  
  .heroSection {
    width: 100vw;
    height: 100vh;
    background-image: url(/Images/WhatsApp\ Image\ 2023-11-08\ at\ 17.20.35_ed0195b0.jpg);
    background-size: cover;
    font-family: "Montserrat", sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding: 40px 120px;
    padding-bottom: 0px;
    color: white;
  }
  
  .logo {
    font-size: 22px;
    /* margin: 0 30% 0 8%; */
    cursor: pointer;
    font-weight: bold;
  }

  fieldset{
    display: flex;
    flex-direction: column;
    padding: 50px;
  }

  span{
    color: red;
  }

  /* 
  
  .navlinks {
    margin: 0 25% 0 0;
    width: 10%;
  }
  .navlinks ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50%;
    text-transform: uppercase; 
}
  
.navbar ul li {
    list-style: none;
    cursor: pointer;
    margin-left: 2rem;
}
  
  */
  
  
  .homeButton button {
    padding: 15px 34px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid white;
    /* border-radius: 2px; */
    /* font-size: 20px; */
    color: black;
  }

  .main{
    display: flex;
    padding: 0px 90px;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
  }

  .image{
    margin-left: 40px;
    width: 40%;
  }

  .image img{
    width: 500px;
  }

  .form{
    width: 50%;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .form h2{
    margin-top: 44px;
    margin-bottom: 30px;
    font-family: 'Playfair Display', serif;
    font-size: 45px;
  }

  .form form{
        display: flex;
        flex-direction: column;
  }

  .form label{
    font-size: 12px;
  }

  .form input{
    width: 90%;
    border: none;
    font-size: 12px;
    border-radius: 2px;
    height: 40px;
    color: black;
    margin-bottom: 24px;
    padding: 0px 10px;
  }

  .form textarea{
    padding: 0px 10px;
    width: 90%;
    border: none;
    color: white;
    border-radius: 2px;
    font-size: 12px;
  }

  #submit{
    background-color: white;
    font-size: 16px;
    border-radius: 0;
    border: none;
    margin-top: 28px;
    color: black;
    width: 130px;
    height: 56px;
  }

  /* Footer start */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
  }
  
  .footer .left,
  .right,
  .middle {
    width: 30vw;
  }
  
  .left {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    padding: 0 80px;
  }
  
  .fLogo {
    font-size: 30px;
    margin: 20px 0px;
    cursor: pointer;
  }
  
  .left h5 {
    width: 20vw;
    font-size: 18px;
  }
  
  .middle {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .middle ul {
    display: flex;
    flex-direction: column;
    list-style: none;
  }
  
  .middle li {
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .middle li:hover {
    text-decoration: underline;
  }
  
  .right ul {
    padding-top: 20px;
    display: flex;
    list-style: none;
  }
  
  .right li {
    font-size: 1.8em;
    padding-right: 23px;
    cursor: pointer;
    transition: ease-in-out 0.2s;
  }
  
  .right li:hover {
    transform: scale(1.2);
  }